<div id="bookCard" class="card text-left" style="width: 18rem">
    <div class="title-wrapper">
        <h4>{{title}}</h4>
    </div>
    <a href="/book{{id}}"><img class="card-img-top" src="css/notebook.png" alt="book"></a>
    {{!-- <div class="card-body">
        <button class="btn btn-dark"></button>
    </div> --}}
</div>

<style>
    #bookCard{
        border-style: hidden;
    }
</style>