<h1>Logged in as {{email}}</h1>

<div class="container">
            <div class="row">
                <input type="text" id="titleInput" placeholder="Book name">
                <button id="newBook" class="btn btn-dark">Add New Book</button>
            </div>
        <div class="col-md-10" style="margin-top: 2rem;">
            <div class="row">
            {{#each books}}
            {{> book-block}}
            {{/each}}
            </div>
        </div>
        
    </div>


<style>
    #newBook{
        background: #fdd14d;
        color: black;
    }
    footer {
        display: none;
    }

    #top-jumbotron {
        display: none;
    }

    .title-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    #bookCard{
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
    }
    #titleInput{
        width: 50%;
        margin-right: 5rem;
    }
</style>

<script src="js/home.js"></script>