<h1>Logged in as {{email}}</h1>
<ul id="bookList">
    
</ul>

<div>
    <input type="text" id="titleInput" placeholder="Book name">
</div>

<div>
    <button id="newBook">Add New Book</button>
</div>

<script src="js/home.js"></script>